@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // @include verticalCenter;
  font-family: 'Nunito sans', sans-serif;
}
li {
  list-style-type: none;
}

