@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

body {
  font-family: var(--default-police);
  height: 100%;
  box-sizing: border-box;
}

:root {
  --police-1: Merienda, sans-serif;
  --default-police: Nunito Sans, sans-serif;
  --color-1: black;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation */

.navigation ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-size: 30px;
}

.navigation a {
  text-decoration: none;
  padding: 10px;
  color: white;
  transition: 0.2s;
  cursor: pointer;
  list-style-type: none;
}

.navigation a:hover {
  color: red;
  transform: scale(1.1);
}

.navigation a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background: red;
  transition: width 0.3s ease-in-out;
}

.navigation a:hover::after {
  width: 100%;
}

.content {
  margin-top: -130px;
  padding-top: 60px;
}

.accueil {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background-image: url(./assets/img/accueil-pic-lum-down.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px dotted #777;
  padding-top: 1px;
}

.logo-kyoto {
  border-radius: 50%;
  width: 180px;
  display: block;
  margin: 179px auto 0;
}

h1 {
  text-align: center;
  font-size: 100px;
  text-shadow: 0 0 10px #000;
  color: #f1f1f1;
  margin-top: 10px;
  font-family: var(--police-1);
}

.sous-titre {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #f1f1f1;
  margin: 5px 0;
  text-shadow: 0 0 10 #000;
}

.btn-accueil {
  border-radius: 9999px;
  background: crimson;
  border: 1px solid #333;
  color: #f1f1f1;
  text-align: center;
  font-size: 22px;
  display: block;
  width: 200px;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  margin: 30px auto 0;
}

.btn-accueil:hover {
  transform: scale(1.1);
  transition: 0.2s ease-out;
  background: rgb(177, 0, 36);
  color: #fff;
}

/* test navbar*/



/* Responsive menu-burger */

@media screen and (max-width: 1220px) {
  .logo-menu {
    display: block;
  }

  .liste-nav {
    padding-top: 70px;
    flex-direction: column;
    height: auto;
    position: relative;
    display: none;
  }

  .liste-nav.active {
    display: block;
  }

  .item-nav {
    height: 70px;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {

  .accueil {
    height: 650px;
    min-height: auto;
    background-position: right;
  }

  .logo-kyoto {
    margin: 120px auto 0;
  }

  .accueil h1 {
    font-size: 60px;
  }

  .sous-titre {
    font-size: 23px;
  }

  .btn-accueil {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin: 15px auto 0;
  }

}

@media screen and (max-width: 500px) {

  .accueil {
    height: 550px;
  }

  .logo-kyoto {
    width: 150px;
    margin: 110px auto 0;
  }

  .accueil h1 {
    font-size: 35px;
  }

  .sous-titre {
    font-size: 20px;
  }

  .btn-accueil {
    width: 130px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }

  .logo-menu {
    top: 15px;
    width: 40px;
  }
}

/* Section asymétrique */

.section-asymetrique {
  display: grid;
  grid-template: 200px repeat(3, auto) /
    1fr 600px 1fr;
  background: #f1f1f1;
}

.section-asymetrique h2 {
  /* debut row / debut col / fin row / fin col */
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

/* Placement */

.bloc-1,
.img-grid-1 {
  grid-area: 2 / 2 / 3 / 3;
}

.bloc-right,
.img-grid-2 {
  grid-area: 3 / 2 / 4 / 3;
}

.bloc-3,
.img-grid-3 {
  grid-area: 4 / 2 / 5 / 3;
}

.bloc {
  background: #333;
  color: #f1f1f1;
  position: relative;
  border-radius: 2px;
  height: 750px;
  margin-bottom: 250px;
}

.img-grid {
  width: 500px;
  height: 700px;
  object-fit: cover;
  position: relative;
}

.img-grid-1,
.img-grid-3 {
  top: 130px;
  left: 20px;
}

.bloc-left {
  left: -300px;
}

.bloc-txt-left {
  width: 50%;
  height: 100%;
}

.bloc-txt-left h3 {
  white-space: nowrap;
  font-size: 35px;
  margin: 30px 15px;
}

.bloc-txt-left p {
  line-height: 40px;
  padding: 15px;
}

.bloc button {
  border-radius: 9999px;
  outline: none;
  border: none;
  background: crimson;
  border: 1px solid #333;
  color: #f1f1f1;
  padding: 20px 35px;
  font-size: 20px;
  margin: 35px auto;
  cursor: pointer;
  display: block;
}

.bloc-right {
  right: -300px;
}

.img-grid-2 {
  top: 130px;
  left: 100px;
}

.bloc-txt-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.bloc-txt-right h3 {
  position: relative;
  font-size: 35px;
  margin: 30px 15px;
}

.bloc-txt-right p {
  line-height: 40px;
  padding: 15px;
}

.bloc-txt-right button {
  margin: 5px auto;
}

/* Lignes verticales */

.ligne-gauche {
  grid-area: 1 / 2 / -1 / 3;
  border-left: 1px solid #333;
}

.ligne-droite {
  grid-area: 1 / 3 / -1 / 4;
  border-left: 1px solid #333;
}

@media screen and (max-width: 1200px) {
  .section-asymetrique {
    grid-template: 200px repeat(6, auto) 100px / 1fr 600px 1fr;
  }

  .section-asymetrique h2 {
    font-size: 50px;
    padding-bottom: 0px;
  }

  .bloc-1 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .img-grid-1 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .bloc-right {
    grid-area: 5 / 2 / 6 / 3;
  }

  .bloc-3 {
    grid-area: 6 / 2 / 7 / 3;
  }

  .bloc {
    height: 100%;
    margin-bottom: 0px;
  }

  .img-grid {
    position: static;
    width: 600px;
    height: 750px;
  }

  .img-grid-1,
  .img-grid-2,
  .img-grid-3 {
    top: 0px;
    left: 0px;
  }

  .bloc-left {
    left: 0px;
  }

  .bloc-right {
    right: 0px;
  }

  .bloc-txt-left {
    width: 100%;
    height: 100%;
  }

  .bloc-txt-left h3,
  .bloc-txt-right h3 {
    text-align: center;
  }

  .bloc-txt-left p,
  .bloc-txt-right p {
    font-size: 20px;
    line-height: 1.8;
    padding: 15px;
    margin-bottom: 30px;
  }

  .bloc-txt-right {
    position: static;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {

  .section-asymetrique {
    grid-template: 150px repeat(6, auto) 100px / 100%;
  }

  .ligne-gauche,
  .ligne-droite {
    display: none;
  }

  .section-asymetrique h2 {
    font-style: 30px;
  }

  .bloc,
  .img-grid {
    grid-area: auto;
  }

  .img-grid {
    width: 100%;
    height: 100%;
  }

  .bloc-txt-left h3,
  .bloc-txt-right h3 {
    font-size: 25px;
  }

  .bloc-txt-right {
    width: 100%;
  }
}

/* Section Parallax */

.parallax {
  width: 100%;
  height: 300px;
  background: url(./assets/img/parallax-large-flou.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax p {
  font-size: 65px;
  color: #f1f1f1;
}

.parallax span {
  display: block;
  font-size: 25px;
  color: #f1f1f1;
}

@media screen and (max-width: 400px) {
  .parallax p {
    font-size: 55px;
  }
}

/* Section Guide */

.section-guide {
  padding-bottom: 150px;
  border-bottom: 1px dashed #333;
}

.section-guide h3 {
  text-align: center;
  font-size: 45px;
  margin: 120px 0 20px;
  padding: 0 30px;
}

.section-guide hr {
  width: 200px;
  margin: 20px auto 100px;
}

.container-guide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carte-guide {
  width: 350px;
  height: auto;
  border-radius: 5px;
  margin: 30px 30px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.2 ease-in-out;
  position: relative;
}

.carte-guide:hover {
  transform: translateY(-5px);
}

.carte-guide h4 {
  text-align: center;
  padding: 25px 20px;
  font-size: 35px;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
  background: #ffafbf;
}

.carte-guide:nth-child(2) h4 {
  background: #ff5073;
}

.carte-guide:nth-child(3) h4 {
  background: #ff0033;
}

.carte-guide p {
  font-size: 18px;
  padding: 20px 10px;
  border-top: 1px solid rgb(194, 197, 194);
}

.carte-guide p:last-of-type {
  border-bottom: 1px solid rgb(194, 197, 194);
}

.carte-guide p:nth-child(odd) {
  background: rgba(195, 195, 195, 0.219);
}

.carte-guide a {
  display: block;
  text-decoration: none;
  border: 1px solid #333;
  text-align: center;
  width: 200px;
  height: 50pw;
  border-radius: 9999px;
  color: #333;
  font-size: 18px;
  line-height: 50px;
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}

.carte-guide a:hover {
  background: #333;
  color: #f1f1f1;
}

@media screen and (max-width: 900px) {
  .section-guide h3 {
    font-size: 35px;
    margin: 80px 0 80px;
  }
}

@media screen and (max-width: 425px) {
  .section-guide h3 {
    font-size: 30px;
    padding: 0 10px;
    margin: 50px 0 50px;
  }

  .section-guide hr {
    width: 200px;
    margin: 20px auto 20px;
  }
}

/* Section Contact */

.section-contact {
  padding-bottom: 100px;
}

.section-contact h2 {
  text-align: center;
  color: #333;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
  padding: 70px 0 0 0;
}

.container-form {
  margin: 0 auto;
  width: 70%;
}

.form-groupe {
  position: relative;
  margin-bottom: 45px;
}

.form-groupe label {
  color: #aaa;
  font-size: 20px;
}

.form-groupe input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #666;
  font-size: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  border: none;
  border: 3px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  outline: none;
  font-size: 20px;
  background: #f1f1f1;
}

.form-groupe:nth-child(4) {
  margin-bottom: 25px;
}

.form-groupe .btn-sub {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid rgb(144, 144, 144);
  border-radius: 9999px;
  background-image: linear-gradient(to right, transparent 50%, rgb(65, 65, 65) 50%, rgb(134, 134, 134));
  background-size: 200%;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.form-groupe .btn-sub:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #fff;
}

@media screen and (max-width: 1300px) {
  .section-contact h2 {
    padding: 70px 0 0 0;
  }

  .container-form {
    padding-left: 0;
  }
}

/* Footer */

footer {
  border-top: 1px solid #333;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* --------------------------- Connexion ------------------------------ */

.connexion {
  background-image: url(./assets/img/ruelle-kyoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 500px;
  height: 540px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25vh auto;
  transition: height .2s ease;
  overflow: hidden;
}

.wrapper.active {
  height: 620px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-500px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(500px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2em;
  color: var(--color-1);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--color-1);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: var(--color-1);
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
  color: var(--color-1);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--color-1);
  line-height: 57px;
}

.remember-forgot {
  font-size: 1.1em;
  color: var(--color-1);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: var(--color-1);
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--color-1);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn-submit {
  width: 100%;
  height: 45px;
  background: var(--color-1);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 1.2em;
  color: var(--color-1);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px inset !important;
  background-color: transparent;
}

/* Bouton pour remonter vers le haut */

.btn-top {
  height: 80px;
  width: 80px;
  background-color: crimson;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  cursor: pointer;
}

.icone {
  width: 50px;
}

/* Composant activité */
.activite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f4f4f2; /* Couleur de fond subtile, inspirée des tons neutres japonais */
  font-family: 'Noto Sans JP', sans-serif; /* Vous pouvez utiliser Google Fonts pour obtenir cette police qui est moderne et inspirée du Japon */
  background-image: url('../public/img/feu-dartifice.jpg');
  background-size: cover;   /* assure que l'image couvre toute la div */
  background-position: center;  /* centre l'image d'arrière-plan */
  background-repeat: no-repeat; /* empêche la répétition de l'image */
  background-attachment: fixed;
}

.activite-section {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  width: 80%;
  padding: 1rem;
  background-color: #fff;
}

.activite-title {
  font-size: 1.5rem;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.activite-list {
  list-style: none;
  padding: 0;
}

.activite-item {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.1rem;
}

.activite-section h2 {
  cursor: pointer;
}

.chateau-item {
  justify-content: center;
}

.chateau-item, .temple-item, .activite-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chateau-item img, .temple-item img, .activite-item img {
  width: 150px;
  height: 100px; 
  margin-right: 20px;
  object-fit: cover;
  border-radius: 5px;
}

.chateau-section {
  width: 70%;  /* Réduire la largeur à 70% de son conteneur */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;     
  background-color: rgba(220, 220, 220, 0.7);  /* Gris clair translucide */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   /* Ombre légère */
  text-align: center;  /* Centrer le contenu à l'intérieur */
  border-radius: 5px;
  margin-bottom: 30px;
}

.chateau-item.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.chateau-item.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.chateau-section h2 {
  margin-top: 10px;
  margin-bottom: 15px; 
  cursor: pointer;
}

.image-container {
  position: relative;
  width: 150px; /* Ajustez ces valeurs selon vos besoins */
  height: 100px; 
  overflow: hidden; /* Cache les parties de l'image qui dépassent */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adapte l'image à la taille de .image-container */
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay semi-transparent */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.image-container:hover .overlay {
  opacity: 1;
}

.chateau-description {
  max-width: 60%; /* Vous pouvez ajuster cette valeur selon vos besoins */
  padding: 0 10px; /* Un peu d'espacement pour aérer le contenu */
}

.toggle-indicator {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
  cursor: pointer;
  vertical-align: middle;
}

.chateau-section h2.open .toggle-indicator {
  border-top: none;
  border-bottom: 8px solid #333;
}

/* .fixed-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../public/img/feu-dartifice.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* Page Activites */
.kyoto-attractions {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  overflow-y: auto;
  max-height: 100vh;
}

.section-wrapper {
  background-color: rgba(220, 220, 220, 0.7);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width : 70%;
  margin-left: auto;
  margin-right: auto;
}

.attractions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.attraction-card {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  width: 300px;
}                

.attraction-card img {
  width: 260px;      
  height: 150px;     
  border-radius: 10px;
  transition: opacity 0.3s;
}

h1 {
  color: #FFF;
  margin-bottom: 10px;
}

h2 {
  color: #333;
  margin-bottom: 10px; 
}

p {
  color: #555;
}

.toggle-indicator {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
  cursor: pointer;
  vertical-align: middle;
}

.section-wrapper > h2 {
  cursor: pointer;
  font-size: 35px;
  color: #FFF;
}

h2.open .toggle-indicator {
  border-top: none;
  border-bottom: 8px solid #333;
}

.bgi{
  background-image: url('../public/img/chateau-kyoto-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay semi-transparent */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  border-radius: 10px;  /* to keep the rounded corners for the overlay */
}

.attraction-card:hover .overlay {
  opacity: 1;  /* affiche l'overlay lors du survol */
}

.image-container {
  position: relative;
  display: inline-block;  /* This will make the container just as big as the image */
  width: 260px;
  height: 150px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adapte l'image à la taille de .image-container */
  display: block;
}

.overlay-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;  /* This ensures the link is above the overlay for click events */
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;  /* to keep the rounded corners */
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.description {
  font-family: 'Nunito Sans', sans-serif; /* Utiliser la police Nunito Sans pour le texte principal */
  font-size: 16px; /* Taille du texte. À ajuster selon vos besoins. */
  line-height: 1.5; /* Espacement entre les lignes pour une meilleure lisibilité */
  color: #333; /* Couleur du texte. Choisissez une couleur foncée pour un contraste élevé */
  padding: 10px; /* Espace autour du texte pour éviter qu'il touche les bords */
  margin: 10px 0; /* Espace au-dessus et en dessous du paragraphe */
  background-color: #f9f9f9; /* Couleur de fond claire pour le contraste */
  border-radius: 5px; /* Coins arrondis pour un aspect plus doux */
}

/* Pour les petits écrans (par exemple les smartphones) */
@media (max-width: 600px) {
  h1 {
      font-size: 9vw;
  }
}

/* Pour les écrans moyens (par exemple les tablettes) */
@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
      font-size: 6vw;
  }
}